:host {
    background-color: white;

    .smelting-group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .smelting-input {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}