:host {
    background-color: white;

    .smelting-group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .smelting-input {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.progress-bar {
    display: block;
    position: relative;
    background-color: #cecece;
    height: 30px;
    min-width: 60px;
    
    span.progress {
        display: block;
        position: absolute;
        height: 100%;
        top: 0px;
        background-color: #67fd80;
    }
}