:host {
    background-color: white;

    .crafting-area {
        padding: 10px;
        

        .crafting-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 15px;
            
            .inv-grid{
                background-color: #575757;
                display: inline-block;
                white-space: initial;
                padding: 3px;
                margin: 5px;
            
                .row{
                    font-size: 0px;
                    white-space: nowrap;
            
                    .cell{
                        margin: 1px;
                        font-size: initial;
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        background-color: #2c2c2c;
                        position: relative;
            
                        &:first-child {
                            border-left-width: 2px;
                        }
            
                        &:last-child{
                            border-right-width: 2px;
                        }
            
                        &.filled{
                            background-color: red;
                        }
            
                        &.unplaceable{
                            background-color: rgb(255, 145, 145);
                        }
            
                        &.placeable{
                            background-color: rgb(142, 221, 142);
                        }
            
                    }
                }
            }
        }

    }
}