:host {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    user-select: none;

    div.block {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-blend-mode: hard-light, normal;

        .damage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../../assets/textures/blocks/damage.png');
            background-size: cover;
            background-position-y: center;
            background-position-x: 0;
            
            
        }

        .data {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

    }
}