<div class="pages">
    <div class="page-slide" [@activePage]="tab">
        <div class="page shop">
            <h1>Shop</h1>
        </div>
        <div class="page mining">
            <div class="page-container">
                <div class="info">
                    
                    <div class="btns">
                        <div class="btn-row">
                            <a class="btn" routerLink="/craft">
                                Craft
                            </a>
                            <a class="btn">
                                Smelt
                            </a>
                        </div>
                        <div class="btn-row">
                            <a class="btn">
                                something
                            </a>
                            <a class="btn">
                                another
                            </a>
                        </div>
                        <div class="btn-row">
                            <a class="btn">
                                one
                            </a>
                            <a class="btn">
                                two
                            </a>
                        </div>
                    </div>
                </div>
                <div class="game-area" [ngStyle]="{'background-image': level.floorTexture}" #gameArea>
                    <div class="blocks">
                        <span class="black" [ngStyle]="{'background-image': level.floorTexture}"></span>
                        <div class="block-wall top" [ngStyle]="{'background-image': level.wallTexture}"></div>
                        <div class="block-wall right" [ngStyle]="{'background-image': level.wallTexture}"></div>
                        <div class="block-wall bottom" [ngStyle]="{'background-image': level.wallTexture}"></div>
                        <div class="block-wall left" [ngStyle]="{'background-image': level.wallTexture}"></div>
                    </div>
                    <div class="blocks-container">
                        <block #block *ngFor="let block of level.getTopBlocks; index as i" [block]="block" [index]="i"></block>
                    </div>
                </div>
            </div>
        </div>
        <div class="page inventory">
            <div class="page-container">
                <h1>Inventory</h1>
                <inventory id="stash"></inventory>
            </div>
        </div>
    </div>
</div>
<div class="tabs">
    <div class="tab" (click)="selectTab('shop')">
        Shop
    </div>
    <div class="tab" (click)="selectTab('mine')">
        Mine
    </div>
    <div class="tab" (click)="selectTab('inventory')">
        Inventory
    </div>
</div>